.navbar-new {
  position: relative;
  top: 0px;
  display: block;
  overflow: hidden;
  padding-right: 5%;
  padding-left: 5%;
  border-bottom: 1px none #e1e1e1;
  background-color: #f7f9ff;
}

.navbar-new.two-header {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0px;
  right: 0%;
  bottom: auto;
  z-index: 100;
  display: block;
  background-color: #f7f9ff;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.div-block-450 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.all-div {
  position: relative;
  z-index: -2;
  overflow: hidden;
}

.image-116 {
  position: absolute;
  left: auto;
  top: 5%;
  right: 3%;
  bottom: auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cover-div-3-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-443 {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.nav-link-2 {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.nav-link-2.w--current {
  color: #1a0f91;
}

.nav-link-2.hide {
  opacity: 0;
}

.hide {
  display: none;
}

.submit-button-7 {
  padding-right: 25px;
  padding-left: 25px;
  border: 1px solid #4871fd;
  border-radius: 9px;
  background-color: #4871fd;
  box-shadow: 4px 4px 13px 0 rgba(33, 123, 244, 0.26);
  font-size: 16px;
  font-weight: 700;
}

.submit-button-7:hover {
  border: 1px solid #1a0f91;
  background-color: transparent;
  color: #1a0f91;
}

.text-field-12 {
  height: 45px;
  margin-right: 15px;
  margin-bottom: 0px;
  border: 2px solid #4871fd;
  border-radius: 9px;
}

.text-field-3 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #000 #000 #09005d;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.form-block-3 {
  margin-top: 28px;
}

.div-block-442 {
  position: relative;
  width: 788px;
  padding-top: 50px;
  padding-bottom: 72px;
  border-radius: 30px;
  background-color: #fff;
}

.heading-178 {
  margin-top: 0px;
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  text-align: center;
}

.form-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.popup-early-access {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.submit-button-2 {
  margin-top: 22px;
  padding: 14px 35px;
  border: 1px solid #1a0f91;
  border-radius: 8px;
  background-color: #1a0f91;
}

.submit-button-2:hover {
  border: 1px solid #1a0f91;
  background-color: transparent;
  color: #1a0f91;
}

.submit-button-2.nav {
  margin-top: 0px;
  border-color: #4871fd;
  background-color: #4871fd;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
}

.submit-button-2.nav:hover {
  background-color: rgba(72, 113, 253, 0.8);
}

.submit-button-2.new {
  margin-top: 0px;
  border-color: #4871fd;
  background-color: #4871fd;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.submit-button-2.new:hover {
  background-color: rgba(72, 113, 253, 0.8);
}

.submit-button-2.new._2 {
  display: none;
  margin-top: 40px;
}

.submit-button-2.new.asd {
  display: block;
}

.submit-button-2.new.f {
  display: none;
}

.submit-button-2.nav {
  margin-top: 0px;
  color: #fff;
  text-decoration: none;
}

.submit-button-2.nav:hover {
  background-color: rgba(26, 15, 145, 0.9);
}

.div-block-118 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-block-13 {
  display: block;
  width: 100%;
  max-width: 350px;
  margin-top: 50px;
}

.paragraph-47 {
  margin-bottom: 0px;
  font-weight: 700;
}

.nav-menu-2 {
  margin-left: 50px;
}

.nav-menu-2.display-none {
  display: block;
}

.brand {
  position: static;
  left: auto;
  width: 70%;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #1a0f91;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: rgba(26, 15, 145, 0.8);
}

.button.popup {
  margin-top: 100px;
  background-color: #4871fd;
}

.body {
  background-color: #f7f9ff;
  font-family: Lato, sans-serif;
  color: #000;
}

.div-block-458 {
  position: relative;
  overflow: hidden;
  background-color: #f7f9ff;
}

.div-block-458._69 {
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
}

.div-block-459 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.div-block-459._69 {
  position: relative;
  z-index: 1;
  max-width: 900px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url('../images/Ellipse-203.png');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.div-block-460 {
  width: 100%;
  background-image: url('../images/Ellipse-200.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-461 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-179 {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}

.text-span-3 {
  color: #4871fd;
  font-weight: 700;
}

.text-block-20 {
  margin-top: 25px;
  color: #8d8d8d;
  font-size: 18px;
  line-height: 1.7;
}

.div-block-462 {
  border-bottom: 10vw solid #fff;
  border-left: 100vw solid transparent;
}

.div-block-462.blue {
  border-bottom-color: #4871fd;
}

.div-block-462.blue.top {
  position: relative;
  border-bottom-width: 8vh;
  border-bottom-color: #4871fd;
}

.div-block-462.blue.top._69 {
  display: block;
}

.div-block-462.blue.bottom {
  position: relative;
  z-index: 1000;
  border-bottom-width: 8vh;
  border-bottom-color: #fff;
}

.div-block-463 {
  width: 90%;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 0px;
}

.div-block-464 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 140px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.div-block-464.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.div-block-465 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-465.img {
  background-image: url('../images/Ellipse-200.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-465.img.testimonials {
  margin-left: 60px;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
}

.text-block-21 {
  padding-left: 20px;
  border-left: 8px solid #4871fd;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  line-height: 56px;
}

.text-block-21.white {
  border-left-color: #fff;
  color: #fff;
}

.text-span-4 {
  color: #4871fd;
  font-weight: 700;
}

.text-span-4.white {
  color: #fff;
}

.text-block-22 {
  margin-top: 40px;
  color: #474747;
  font-size: 16px;
  line-height: 1.7;
}

.text-block-22.white {
  color: #fff;
}

.image-118 {
  width: 100px;
  margin-bottom: 20px;
}

.div-block-466 {
  overflow: visible;
  width: 90%;
  background-color: #f7f9ff;
}

.div-block-467 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.div-block-468 {
  width: 100%;
  padding: 20px;
}

.div-block-468.white {
  margin-left: 10%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 18px 18px 113px 0 rgba(0, 0, 0, 0.05);
}

.text-block-23 {
  width: 150px;
  padding-bottom: 15px;
  border-bottom: 5px solid #4871fd;
  font-size: 25px;
  line-height: 34px;
  white-space: pre;
}

.text-block-24 {
  margin-top: 20px;
  color: #474747;
  font-size: 16px;
  line-height: 30px;
}

.div-block-469 {
  position: relative;
  background-color: #4871fd;
}

.div-block-470 {
  background-color: #fff;
}

.div-block-470.blue {
  background-color: #4871fd;
}

.div-block-470.blue.bottom {
  z-index: -1;
}

.div-block-470._69 {
  background-color: #f7f9ff;
}

.div-block-471 {
  padding-right: 5%;
}

.div-block-472 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.image-119 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.div-block-473 {
  width: 50%;
}

.div-block-473.white {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-474 {
  width: 40%;
}

.div-block-475 {
  width: 90%;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-light {
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

.footer-wrapper-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-25 {
  width: 40%;
  margin-top: 25px;
  direction: ltr;
  color: #fff;
  font-style: normal;
  text-decoration: none;
}

.image-121 {
  width: 79px;
  height: 79px;
  border-radius: 50%;
}

.footer-454 {
  position: relative;
  overflow: hidden;
  background-color: #4871fd;
}

.heading-180 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.text-span-5 {
  color: #4871fd;
}

.div-block-477 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-48 {
  max-width: 38rem;
  margin-bottom: 40px;
  color: #474747;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
}

.list-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.divier-white {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.popup-head {
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
}

.popup-head.text-color-white {
  color: #000;
}

.popup-right {
  width: 50%;
  padding: 30px 30px 20px;
  border: 1px solid #4871fd;
  border-radius: 30px;
  background-color: #fff;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-text {
  font-weight: 400;
  letter-spacing: 2px;
}

.form_text-input-wrap {
  margin-bottom: 20px;
}

.list-head {
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  color: #000;
  font-weight: 700;
}

.button-2 {
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #4f389e;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.button-2.arrow-btn {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  opacity: 0;
}

.form_popup-component {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form_text-popup {
  font-weight: 700;
}

.popup-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-column-gap: 20px;
}

.duplicate-btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 15px 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 10px;
  background-color: #4871fd;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.list-text {
  margin-left: 10px;
  color: #000;
}

.popup-left {
  width: 70%;
  padding: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #e8e9ee;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 37px 0 rgba(25, 43, 67, 0.19);
}

.form_input-popup {
  min-height: 3rem;
  margin-bottom: 0rem;
  padding: 0.5rem 1rem 0.5rem 1.25rem;
  border: 2px solid #dae6ec;
  border-radius: 8px;
  background-color: #f8fbfd;
}

.form_input-popup::-webkit-input-placeholder {
  color: #858585;
  font-size: 1rem;
}

.form_input-popup:-ms-input-placeholder {
  color: #858585;
  font-size: 1rem;
}

.form_input-popup::-ms-input-placeholder {
  color: #858585;
  font-size: 1rem;
}

.form_input-popup::placeholder {
  color: #858585;
  font-size: 1rem;
}

.arrow {
  margin-left: 10px;
}

.text-color-white {
  color: #fff;
}

.text-color-white.popup-small {
  color: #4871fd;
}

.form_popup {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.image-123 {
  position: absolute;
  left: -20%;
  top: auto;
  right: auto;
  bottom: -29%;
  z-index: -1;
  width: 65%;
}

.image-123._2 {
  left: -25%;
  bottom: -30%;
  overflow: hidden;
  width: 69%;
}

.button-3 {
  padding: 16px 30px;
  border-radius: 5px;
  background-color: #4871fd;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-span-6 {
  color: #4871fd;
}

.image-124 {
  display: block;
  width: 100%;
  margin-bottom: 0px;
}

.div-block-478 {
  width: 20%;
  margin-bottom: 50px;
}

.button-4 {
  padding: 12px 35px;
  border-radius: 8px;
  background-color: #4871fd;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
}

.button-4:hover {
  background-color: rgba(72, 113, 253, 0.8);
}

.nav_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-2 {
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7f9ff;
}

.brand-1 {
  width: 20%;
}

.nav_button {
  padding: 12px 35px;
  border-radius: 8px;
  background-color: #4871fd;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
}

.nav_drop {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7f9ff;
}

.brand-1-copy {
  width: 20%;
}

.nav_button-drop {
  padding: 12px 35px;
  border-radius: 8px;
  background-color: #4871fd;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
}

.navbar-new-2 {
  position: static;
  top: 0px;
  z-index: 100;
  padding-right: 5%;
  padding-left: 5%;
  border-bottom: 1px none #e1e1e1;
  background-color: #fff;
}

.navbar-new-2.two-header {
  position: -webkit-sticky;
  position: sticky;
  display: none;
}

.div-block-479 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-49 {
  margin-bottom: 0px;
}

.brand-2 {
  position: static;
  left: auto;
}

.html-embed {
  height: 50px;
  padding: 17px 10px;
}

@media screen and (min-width: 1280px) {
  .image-116 {
    position: absolute;
  }

  .nav-link-2.w--current {
    color: #1a0f91;
  }

  .submit-button-2 {
    margin-top: 12px;
  }

  .div-block-458._69 {
    padding-top: 60px;
  }

  .div-block-459._69.f {
    padding-top: 0px;
  }

  .heading-180 {
    font-size: 60px;
  }

  .image-124 {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .image-118 {
    margin-bottom: 20px;
  }

  .div-block-468.white {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .div-block-450 {
    width: 90%;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
  }

  .submit-button-2 {
    margin-top: 44px;
  }

  .popup-right {
    width: 60%;
  }

  .popup-content {
    width: 100%;
  }

  .popup-left {
    width: 100%;
  }

  .image-123 {
    left: -25%;
    bottom: -48%;
    width: 70%;
  }
}

@media screen and (max-width: 991px) {
  .navbar-new {
    position: relative;
  }

  .div-block-442 {
    width: 90%;
  }

  .heading-178 {
    font-size: 40px;
    line-height: 50px;
  }

  .submit-button-2.nav {
    display: block;
  }

  .submit-button-2.new {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .submit-button-2.nav {
    display: block;
  }

  .div-block-118.mob-nav {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .form-block-13 {
    margin-top: 25px;
  }

  .nav-menu-2 {
    left: 0%;
    right: 0%;
    bottom: auto;
    z-index: 100;
    margin-left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    text-align: left;
  }

  .button.popup {
    margin-top: 70px;
  }

  .div-block-458._69 {
    background-position: 190% 290%;
  }

  .div-block-459 {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .div-block-460 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }

  .div-block-463 {
    padding-top: 50px;
  }

  .div-block-464 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .div-block-464.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .div-block-464.reverse.a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .div-block-472 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-473.white {
    width: 100%;
    margin-top: 25px;
  }

  .div-block-474 {
    width: 80%;
  }

  .container {
    max-width: 728px;
  }

  .footer-wrapper-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-brand {
    display: block;
  }

  .text-block-25 {
    width: 100%;
  }

  .image-120 {
    width: 50%;
  }

  .heading-180 {
    font-size: 45px;
  }

  .popup-right {
    width: 100%;
    margin-top: 20px;
  }

  .popup-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .popup-left {
    width: 100%;
  }

  .image-123 {
    left: -40%;
    top: auto;
    right: auto;
    bottom: 0%;
    width: 100%;
  }

  .image-123._2 {
    bottom: -29%;
  }

  .brand-1 {
    width: 40%;
  }

  .menu_button {
    display: none;
  }

  .brand-1-copy {
    width: 40%;
  }

  .navbar-new-2 {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .div-block-450 {
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .cover-div-3-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .submit-button-7 {
    height: 45px;
    margin-top: 10px;
  }

  .form-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .submit-button-2.new {
    font-size: 16px;
  }

  .form-block-13 {
    max-width: 490px;
  }

  .div-block-458._69 {
    background-position: 120% 210%;
  }

  .heading-179 {
    font-size: 42px;
    line-height: 50px;
  }

  .text-block-20 {
    font-size: 20px;
    line-height: 30px;
  }

  .text-block-21 {
    font-size: 28px;
    line-height: 36px;
  }

  .text-block-21.white {
    font-size: 28px;
    line-height: 32px;
  }

  .text-block-22 {
    font-size: 18px;
    line-height: 30px;
  }

  .text-block-23 {
    font-size: 24px;
  }

  .div-block-475 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footer-light {
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-wrapper-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-121 {
    width: 79px;
    height: 79px;
  }

  .heading-180 {
    font-size: 45px;
  }

  .image-123 {
    bottom: -10%;
    width: 100%;
  }

  .brand-1 {
    width: 40%;
  }

  .brand-1-copy {
    width: 40%;
  }

  .div-block-479 {
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 479px) {
  .div-block-443 {
    width: 80%;
  }

  .heading-178 {
    font-size: 35px;
    line-height: 40px;
  }

  .submit-button-2 {
    padding: 10px 20px;
  }

  .submit-button-2.new {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 20px;
  }

  .nav-menu-2 {
    margin-left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .brand {
    width: auto;
  }

  .button {
    width: 200px;
    height: 45px;
  }

  .button.popup {
    margin-top: 50px;
  }

  .div-block-458._69 {
    background-image: url('../images/Group-1000003747.png');
    background-size: 950px;
    background-repeat: no-repeat;
  }

  .div-block-459 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-459._69 {
    width: 95%;
    max-width: none;
  }

  .heading-179 {
    font-size: 32px;
    line-height: 45px;
  }

  .text-block-20 {
    font-size: 16px;
  }

  .div-block-464 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .div-block-464.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .div-block-464.reverse.a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .text-block-22 {
    font-size: 16px;
    line-height: 30px;
  }

  .text-block-22.white {
    font-size: 16px;
    line-height: 30px;
  }

  .image-118 {
    width: 50px;
  }

  .div-block-468.white {
    margin-left: 0%;
  }

  .text-block-23 {
    padding-bottom: 10px;
    font-size: 18px;
  }

  .text-block-24 {
    font-size: 14px;
    line-height: 24px;
  }

  .container {
    max-width: none;
  }

  .footer-wrapper-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .image-120 {
    width: 100%;
  }

  .image-121 {
    width: 50px;
    height: 50px;
  }

  .heading-180 {
    font-size: 30px;
  }

  .paragraph-48 {
    font-size: 17px;
  }

  .popup-head {
    font-size: 25px;
    line-height: 1.3;
  }

  .popup-left {
    padding-right: 10px;
    padding-left: 10px;
  }

  .image-122 {
    width: 70%;
  }

  .image-123 {
    bottom: -3%;
    width: 100%;
  }

  .image-123._2 {
    left: -39%;
    top: auto;
    right: auto;
    bottom: -5%;
    width: 100%;
  }

  .button-3 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    text-align: center;
  }

  .div-block-478 {
    width: 40%;
  }

  .nav_container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .brand-1 {
    width: 50%;
    padding-left: 0px;
  }

  .nav_button {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 11px;
    line-height: 1.2;
  }

  .brand-1-copy {
    width: 50%;
    padding-left: 0px;
  }

  .nav_button-drop {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 11px;
    line-height: 1.2;
  }

  .brand-2 {
    width: 70%;
  }

  .html-embed {
    padding-right: 5px;
    padding-left: 5px;
  }
}